.msg {
    margin: 3px;
}
.chat {
    width: 100%;
}
.author {
    font-size: 12px;
}
.top-bar {
    background-color:antiquewhite;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
}
.icon {
    height: 20px;
    margin: 10px;
    position: absolute;
    right: 10px;
}
.icon:hover {
    cursor: pointer;
}
.msg__bubble {
    border-radius: 20px;
    background-color: lightblue;
    padding: 10px;
    animation: fadein .5s;
}
@keyframes fadein {
    from { opacity: 0; padding: 0px;}
    to   { opacity: 1; padding: 10px;}
}
.msg-list {
    height: calc(100vh - 140px);
    width: 100vw;
    overflow: auto;
    padding: 10px;
    margin-left: 10px;
}
.scroll-down {
    margin-top: 20px
}
.msg-field {
    border-top: 1px solid;
    position: fixed;
    bottom: 0%;
    width:100%;
    background-color: antiquewhite;
}
.msg-field__area {
    border-radius: 10px;
    width: 70%;
    max-width: 10cm;
    margin: 10px;
    resize: none;
}
.msg-field__button {
    float:left;
    margin: 10px;
}